*{
    margin: 0;
    /*padding: 15px;*/
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indexTitle {
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/static/images/cloudsbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    width: 100%;
    /*padding: 20px;
    margin-bottom: 100px;*/
    color: white;
}

label {
    /*margin-bottom: 10px;*/
    font-size: 1.2em;
}

select {
    font-size: 1.2em;
    padding: 10px;
    /*margin-bottom: 20px;*/
}

.title {
    flex-grow: 1;
    text-align: center;
}

.weatherImage {
    display: flex;
    align-items:center;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

.weatherInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*margin-bottom: 10px;*/
    /*padding: 0 20px;
    margin-top: 100px;*/
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}


.scroll-container {
    display: flex;
    overflow-x: auto;
    justify-content:center;
    background-color: white;
    width: 50%;
    height: 70%;
    /*margin: 10px 0;*/
}

.forecast-scroller {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    background-color: rgb(205, 204, 204);
    width: 70%;
    height: auto;
}

.weatherDetail {
    width:120px;
    text-align: center;
    background-color: white;
    margin: 0 10px;
    /*padding: 10px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.weatherDetail h2 {
    font-size: 1em;
    /*margin-bottom: 2px;*/
}

.weatherDetail p {
    font-size: 0.9em;
}
