*{
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
}

.indexBody{
    display:flex;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    align-items: center;
}

.indexTitle {
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/static/images/cloudsbackground.jpg');
    background-size: cover;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

form{
    display:flex;
    align-items:center;
    flex-direction:column;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

select {
    font-size: 1.2em;
    padding: 10px;
}

.title {
    flex-grow: 1;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.weatherImage {
    display: flex;
    align-items:center;
}

.weatherInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    width: 100%;
}

.backButton {
    margin-right: auto;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    justify-content:center;
    background-color: white;
    width: 60%;
    padding: 15px;
}

.forecast-scroller {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    background-color: rgb(205, 204, 204);
    padding: 10px 0;
}

.weatherDetail {
    text-align: center;
    background-color: white;
    margin: 0 10px;
    padding: 10px;
}

.forecastDetail {
    text-align: center;
    background-color: white;
    margin: 0 10px;
    padding: 10px;
}

.weatherDetail h2 {
    font-size: 1em;
}

.weatherDetail p {
    font-size: 0.9em;
}
