<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body>
        <div class=title><h1>{{ weather.name }}</h1></div>
        <div class="weatherInfo">
            <div class="weatherImage">
            <!-- <img src="{{ url_for('static', filename='images/sun.png') }}" width="300px">!-->
            <img src="{{ weatherIcon }}" width="300px">
            </div>
        {% if weather %}
            <h2>{{ weather.main.temp }} °C</h2>
            <p>{{ weather.weather[0].description }}</p>
        {% else %}
            <p>No weather data available.</p>
        {% endif %}
        </div>
    </body>
</html>
