<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <div class="indexBody">
    <!-- Displays title -->
   <div class="indexTitle"><h1>Weather Detector</h1></div>
    <form action="/currWeather" method="POST" id="cityChoice">
        <!-- Dropdown menu of city with available weather data -->
        <label for="city">Choose a city:</label>
        <select name="city" id="city" onchange="document.getElementById('cityChoice').submit();">
            {% for city in cities %}
            <option value="{{ city.name }}">{{ city.name }}</option>
            {% endfor %}
        </select>
    </form>
    </div>
</body>
</html>
